<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detalle_producto.css">
    <link rel="stylesheet" href="/css/detalle_usuario.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    

    
    <main class="container-fluid" id="principal">
        <div class="row">
            <div class="col-12 col-md-4">
                <figure>
                    <img id="avatar" src="/images/usuarios/<%= usuario.avatar %>" alt="Avatar">
                </figure>
                <h4 id="alias"><%= usuario.alias %> </h4>    
                <ul class="opciones">
                    <li><a href="">Modificar Avatar</a></li>
                    <li><a href="">Modificar Alias</a></li>
                    <li><a href="">Cambiar Contraseña</a></li>
                </ul>                
            </div>
            <div class="col-12 col-md-8 info">
                <h1>Perfil de <%= usuario.name %></h1>
                <h4>Nombre: <%= usuario.name %></h4>
                <h4>Apellido: <%= usuario.lastName %></h4>
                <h4>Correo: <%= usuario.email %></h4>
                
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    MIS COMPRAS >>
                                </button>
                            </h2>
                        </div>
                        
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    MIS RESEÑAS >>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <a href="/"><< Volver a Home</a>
        
    </main>
    
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>