 <!--header y nav bar-->
 <div class="container-fluid fixed-top">
    <nav class="navbar navbar-dark row">
        
        <div>
            <!--Boton burger-->
            <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><img id="logo" src="/img/Logo_WineHouse5.png" alt="WineHouse"></a>
        </div>
        
        <!--Búsqueda / Login / Carrito-->
        <div class="iconos-nav">
            <!--Búsqueda-->
            <button class="btn" type="button" id="button_toggle_search">
                <img id="lupa" src="/img/585e4ad1cb11b227491c3391.png" alt="busqueda">
            </button>
            <form method="POST" id="busqueda" action="/busqueda" class="form-inline ocultar">
                <input class="form-control" type="search" name="search" placeholder="Buscar...">
                <button class="btn" type="submit">
                    <img id="lupa" src="/img/585e4ad1cb11b227491c3391.png" alt="busqueda">
                </button>
            </form>
            <!--Menú cuenta usuario-->
            <% if (usuario) { %>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/images/usuarios/<%=usuario.avatar%>" alt="usuario" id="userImg">
                    </button>        
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        <h6 class="bienvenida-usuario"> Hola <%= usuario.name %>! </h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/usuario/perfil">Mi Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                    </div>   
                </div>
            <% } else { %>
            <!--Boton Login-->
            <button type="button" class="navbar-toggler" data-toggle="modal" data-target="#loginModal">
                <img src="/img/usuario.png" id="usuario" alt="Login">
            </button>
            <% } %>
            <!--Carrito-->
            <a href="/cart"><img id="barrica" src="/img/barrica.png" alt="Carrito de Compras"></a>
        </div>
        
        <!--Formulario Busqueda alternativo para pantallas con width < 768px-->
        <form method="POST" id="busqueda-alt" action="/busqueda" class="form-inline ocultar">
            <input class="form-control" type="search" name="search" placeholder="Buscar...">
            <button class="btn" type="submit">
                <img id="lupa" src="/img/585e4ad1cb11b227491c3391.png" alt="busqueda">
            </button>
            <button class="btn" type="button" id="close-form">
                <img src="/img/close.png" alt="Cerrar">
            </button>
        </form>

    </nav>
</div>
 


<!--Menu Login-->
<div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="menu-login">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ingrese a su cuenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="formLogin" method="POST" action="/login">
                        <div class="form-group">
                            <label for="email">Ingrese su email</label>
                            <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                                value="<%= typeof old != 'undefined' ? old.email : '' %>">
                            <% if(typeof(errors) != 'undefined' && errors.email){%>
                            <span class="text-danger font-weight-bold">
                                <%= errors.email.msg %>
                            </span>
                            <%}%>
                        </div>
                        <label for="password">Ingrese su contraseña</label>
                        <div class="form-group input-group mb-3">
                        <input type="password" class="form-control" id="password" name="password">
                        <div class="input-group-append">
                            <span class="input-group-text" id="eye"><i class="fas fa-eye-slash"></i></span>
                          </div>
                        <% if(typeof(errors) != 'undefined' && errors.password){%>
                            <span class="text-danger font-weight-bold">
                                <%= errors.password.msg %>
                            </span>
                            <%}%>
                        </div>
                            <small id="passwordHelp" class="form-text text-muted"><a href="">No recuerdo mi contraseña</a></small>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordarme">
                            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                        </div>
                        <div>
                            <ul id="errorLogin">
    
                            </ul>
                        </div>                   
                    <div class="modal-footer" id="pieModal">
                        <p>Aun no poseo cuenta. <a href="/register">Registrarme</a></p>
                        <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="confirmar">Iniciar Sesion</button>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        
    </div>
    <!--Menu Ppal-->  
    <div class="modal" id="navbarSupportedContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-sm" id="menu_ppal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/img/Logo_WineHouse6.jpg" alt="WineHouse">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="menu">
                        <% categorias.forEach(cat => { %>
                        <li><a href="/categoria/<%=cat.id %>"><%= cat.name %></a></li>
                        <% }) %>
                    </ul>       
                    <ul class="menu">
                        <li>
                            <a href="/mejorCalificados">Mejor Calificados</a>
                        </li>
                        <li>
                            <a href="/masVendidos">Más Vendidos</a>
                        </li>
                        <li>
                            <a href="/recomendados">Recomendados</a>
                        </li>
                        <li>
                            <a href="/ofertas">Ofertas</a>
                        </li>
                        <li>
                            <a href="/quienesSomos">Quienes Somos</a>
                        </li>
                    </ul>
                </div>
                <% if (usuario != undefined && usuario.role > 0) {%>
                    <div class="modal-footer footer-menu-ppal">
                        <ul class="menu">
                            <h4>Administración</h4>
                            <li><a href="/admin/productos">ABMC Productos</a></li>
                            <% if (usuario.role == 9) { %>
                                <li><a href="/admin/usuarios">ABMC Usuarios</a></li>
                            <% }; %>
                        </ul>
                    </div>
                <% }; %>
            </div>
        </div>
    </div>
            
            <!--header y navBar FIN-->