<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/detalle_producto.css">
        </head>
<body>
    <%- include('../partials/header.ejs') %>
    
    <!--Detalle de Producto-->
    
    <main class="container-fluid" id="principal">
        <div class="row">
            <div class="col-12 col-md-4">
                <figure>
                    <img src="/images/productos/<%= producto.img_lg %>" alt="Vino">
                </figure>
                <h6 id="titulo_valor">Precio por Unidad <span id="precio">$<%= producto.precio %></span></h6>               
                <h6 id="titulo_valor">Disponibilidad: En Stock</h6>
                <h6 id="titulo_valor">Contenido:<%= producto.volumen %>ml</h6>
                <form id="comprar" action="" method="POST">
                    <label for="cantidad">Cantidad:</label>
                    <input id="cantidad" type="text" name="cantidad" value="1">
                    <br>
                    <button type="submit" class="btn btn-primary" id="comprar">AGREGAR AL CARRITO</button>
                </form>
            </div>
            <div class="col-12 col-md-8 info">
                <h1><%= producto.nombre %></h1>
                <h4><%= producto.varietal %></h6>
                    <p class="descripcion"><%= producto.descripcion %></p>
                    
                    
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        FICHA TÉCNICA >>
                                    </button>
                                </h2>
                            </div>
                            
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">BODEGA</th>
                                                <td><%= producto.productor %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">PROCEDENCIA</th>
                                                <td><%= producto.procedencia %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">CATEGORÍA</th>
                                                <td><%= categoria.nombre %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">VARIETAL</th>
                                                <td><%= producto.varietal %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">CORTE</th>
                                                <td><%= producto.corte %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">COSECHA</th>
                                                <td><%= producto.cosecha %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">ALCOHOL</th>
                                                <td><%= producto.alcohol %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">ELABORACIÓN</th>
                                                <td><%= producto.elaboracion %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">CRIANZA</th>
                                                <td><%= producto.crianza %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        DATOS DEL ENVÍO >>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        CALIFICACIONES >>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="tab-pane row">
                <h2 class="col-12" id="titulo">TAMBIÉN PODRÍAN INTERESARTE</h2>
                <% for( let i = 0; i <= 3; i++ ) { %>
                <article class="col-12 col-md-6 col-lg-3">
                    <div>
                        <img src="/images/productos/<%= productos[i].img_sm %>" alt="producto">
                        <h6><%= productos[i].nombre %></h6>
                        <h6><%= productos[i].productor %></h6>
                        <h4><%= productos[i].precio %></h4>
                        <h6>3 cuotas de <%= productos[0].precio/3 %></h6>
                        <a href="/cart" class="btn btn-primary" id="comprar">Comprar</a>
                        <a href="/producto/detalle/<%= productos[i].id %>" class="btn btn-primary" id="verMas">Ver
                            Más</a>
                    </div>
                </article>
                <% }; %>
            </section>
        </main>
        
        <!--Fin Detalle de Producto-->
        
        <%- include('../partials/footer.ejs') %>
</body>
</html>