<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detalle_producto.css">
    <link rel="stylesheet" href="/css/detalle_producto_admin.css">
    <link rel="stylesheet" href="/css/stars.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    
    <!--Detalle de Producto-->
    
    <main class="container-fluid" id="principal">
        <div class="row">
            <div class="col-12 col-md-4 info">
                <div class="btn-volver"><a href="/admin/productos"><button type="button" class="btn btn-primary" id="volver" data-dismiss="modal">VOLVER</button></a></div>
                <figure>
                    <img src="/images/productos/<%= producto.imageLg %>" alt="Vino">
                </figure>
                <form id="comprar" action="/admin/productos/detalle/<%= producto.id %>/editar/stock?_method=PUT" method="POST">
                    <label for="stock">Stock:</label>
                    <input id="stock" type="number" name="stock" value="<%= producto.stock %>">
                    <br>
                    <button type="submit" class="btn btn-primary" id="comprar">ACTUALIZAR STOCK</button>
                </form>
                <div class="borrar">
                    <button type="button" class="btn btn-primary" id="borrar" data-toggle="modal" data-target="#borrarModal"><ion-icon name="trash-outline"></ion-icon>  BORRAR PRODUCTO</button>
                    <div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Borrar Producto</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">  
                                    <p>¿Está seguro que desea borrar el producto <%= producto.name %>?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">No</button>
                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/borrar?_method=DELETE">
                                        <button type="submit" class="btn btn-primary" id="comprar">Si</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 info">
                <h1><%= producto.name %></h1>
                <h4><%= producto.varietal.name %></h4>
                <% if(typeof(errors) != 'undefined'){ errors.forEach(error => { %>
                    <span class="text-danger font-weight-bold"><%= error.msg %></span>
                    <br>
                <%})}%> 
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        INFORMACIÓN >>
                                    </button>
                                </h2>
                            </div>
                            
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table class="table table-sm table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--SKU-->  
                                            <tr>
                                                <th scope="row">SKU</th>
                                                <td><%= producto.sku %></td>
                                                <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#skuModal">
                                                </td>
                                                <div class="modal fade" id="skuModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Editar Producto</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div>
                                                                    <ul id="errores-sku"></ul>
                                                                </div>
                                                                <form id="form-sku" method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/sku?_method=PUT">
                                                                    <div class="form-group">
                                                                        <label for="sku">SKU</label>
                                                                        <input type="text" class="form-control" name="sku" value="<%= producto.sku %>">
                                                                    </div>
                                                                    <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                    <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                            
                                            <!--Nombre-->
                                            
                                            <tr>
                                                <th scope="row">NOMBRE</th>
                                                <td><%= producto.name %></td>
                                                <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#nombreModal">
                                                </td>
                                                <div class="modal fade" id="nombreModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Editar Producto</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div>
                                                                    <ul id="errores-name"></ul>
                                                                </div>
                                                                <form id="form-name" method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/name?_method=PUT">
                                                                    <div class="form-group">
                                                                        <label for="name">NOMBRE</label>
                                                                        <input type="text" class="form-control" name="name" value="<%= producto.name %>">
                                                                    </div>
                                                                    <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                    <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                            
                                            <!--Categoría-->
                                            <tr>
                                                <th scope="row">CATEGORÍA</th>
                                                <td><%= producto.category.name %></td>
                                                <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#categoriaModal">
                                                </td>
                                                <div class="modal fade" id="categoriaModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Editar Producto</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/categoryId?_method=PUT">
                                                                    <div class="form-group">
                                                                        <label for="categoryId">CATEGORIA</label>
                                                                        <select class="form-control" name="categoryId" id="" required>
                                                                            <% categorias.forEach(cat=>{ %> 
                                                                                <option value=<%=cat.id%> <%= cat.id == producto.category.id ? "selected" : null %>><%=cat.name%></option>
                                                                                <%})%> 
                                                                            </select>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                
                                                <!--Precio-->
                                                
                                                <tr>
                                                    <th scope="row">PRECIO</th>
                                                    <td>$ <%= producto.price %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#precioModal">
                                                    </td>
                                                    <div class="modal fade" id="precioModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div>
                                                                        <ul id="errores-price"></ul>
                                                                    </div>
                                                                    <form id="form-price" method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/price?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="price">PRECIO UNITARIO</label>
                                                                            <div class="input-group-prepend">
                                                                                <span class="input-group-text">$</span>
                                                                                <input type="number" class="form-control" name="price" value="<%= producto.price %>" required>
                                                                            </div>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                
                                                <!--Volumen-->
                                                
                                                <tr>
                                                    <th scope="row">VOLUMEN</th>
                                                    <td><%= producto.volume %> ml</td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#volumenModal">
                                                    </td>
                                                    <div class="modal fade" id="volumenModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div>
                                                                        <ul id="errores-volume"></ul>
                                                                    </div>
                                                                    <form id="form-volume" method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/volume?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="volume">VOLUMEN</label>
                                                                            <div class="input-group-append">
                                                                                <input type="number" class="form-control" name="volume" value="<%= producto.volume %>" required>
                                                                                <span class="input-group-text">ml</span>
                                                                            </div>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                
                                                <!--Descripción-->
                                                
                                                <tr>
                                                    <th scope="row">DESCRIPCIÓN</th>
                                                    <td><%= producto.description %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#descripcionModal">
                                                    </td>
                                                    <div class="modal fade" id="descripcionModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div>
                                                                        <ul id="errores-description"></ul>
                                                                    </div>
                                                                    <form id="form-description" method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/description?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="description">DESCRIPCIÓN</label>
                                                                            <textarea name="description" rows="3" class="form-control"><%=producto.description%> </textarea>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                
                                                <!--Productor-->
                                                <tr>
                                                    <th scope="row">PRODUCTOR</th>
                                                    <td><%= producto.producer.name %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#productorModal">
                                                    </td>
                                                    <div class="modal fade" id="productorModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/producerId?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="producerId">PRODUCTOR</label>
                                                                            <select class="form-control" name="producerId" id="" required>
                                                                                <% productores.forEach(p=>{ %> 
                                                                                    <option value=<%=p.id%> <%= p.id == producto.producer.id ? "selected" : null %>><%=p.name%></option>
                                                                                <%})%> 
                                                                            </select>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                <!--Procedencia-->    
                                                <tr>
                                                    <th scope="row">PROCEDENCIA</th>
                                                    <td><%= producto.region %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#procedenciaModal">
                                                    </td>
                                                    <div class="modal fade" id="procedenciaModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/region?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="region">PROCEDENCIA</label>
                                                                            <input type="text" class="form-control" name="region" value="<%= producto.region %> ">
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                <!--Varietal-->
                                                <tr>
                                                    <th scope="row">VARIETAL</th>
                                                    <td><%= producto.varietal.name %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#varietalModal">
                                                    </td>
                                                    <div class="modal fade" id="varietalModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/varietalId?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="varietalId">VARIETAL</label>
                                                                            <select class="form-control" name="varietalId" id="" required>
                                                                                <% varietales.forEach(v=>{ %> 
                                                                                    <option value=<%=v.id%> <%= v.id == producto.varietal.id ? "selected" : null %>><%=v.name%></option>
                                                                                <%})%> 
                                                                            </select>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                <!--Corte-->
                                                <tr>
                                                    <th scope="row">CORTE</th>
                                                    <td><%= producto.blend %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#corteModal">
                                                    </td>
                                                    <div class="modal fade" id="corteModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/blend?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="blend">CORTE</label>
                                                                            <input type="text" class="form-control" name="blend" value="<%= producto.blend %>">
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                <!--Cosecha-->
                                                <tr>
                                                    <th scope="row">COSECHA</th>
                                                    <td><%= producto.vintage %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#cosechaModal">
                                                    </td>
                                                    <div class="modal fade" id="cosechaModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/vintage?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="vintage">COSECHA</label>
                                                                            <input type="number" class="form-control" name="vintage" value="<%= producto.vintage %>">
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                <!--Alcohol-->
                                                <tr>
                                                    <th scope="row">ALCOHOL</th>
                                                    <td><%= producto.alcohol %> %</td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#alcoholModal">
                                                    </td>
                                                    <div class="modal fade" id="alcoholModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/alcohol?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="alcohol">ALCOHOL</label>
                                                                            <div class="input-group-append">
                                                                                <input type="number" class="form-control" name="alcohol" value="<%= producto.alcohol %>" step="0.1">
                                                                                <span class="input-group-text">%</span>
                                                                            </div>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                <!--Elaboración-->
                                                <tr>
                                                    <th scope="row">ELABORACIÓN</th>
                                                    <td><%= producto.elaboration %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#elaboracionModal">
                                                    </td>
                                                    <div class="modal fade" id="elaboracionModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/elaboration?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="elaboration">ELABORACIÓN</label>
                                                                            <textarea name="elaboration" rows="3" class="form-control"><%=producto.elaboration%></textarea>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                <!--Crianza-->
                                                <tr>
                                                    <th scope="row">CRIANZA</th>
                                                    <td><%= producto.aging %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#crianzaModal">
                                                    </td>
                                                    <div class="modal fade" id="crianzaModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/aging?_method=PUT">
                                                                        <div class="form-group">
                                                                            <label for="aging">CRIANZA</label>
                                                                            <textarea name="aging" rows="3" class="form-control"><%=producto.aging%> </textarea>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                <!--Recomendados-->
                                                <tr>
                                                    <th scope="row">RECOMENDADO</th>
                                                    <td><%= producto.selection == "on"? "Si" : "No" %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#recomendadosModal">
                                                    </td>
                                                    <div class="modal fade" id="recomendadosModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/selection?_method=PUT">
                                                                        <div class="form-group">
                                                                            <div class="custom-control custom-switch">
                                                                                <input type="checkbox" class="custom-control-input" id="selection" name="selection" <%= producto.selection == "on"? "checked" : null %>>
                                                                                <label for="selection" class="custom-control-label">RECOMENDADOS</label>
                                                                            </div>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                
                                                <!--Ofertas-->
                                                <tr>
                                                    <th scope="row">OFERTA</th>
                                                    <td><%= producto.sale == "on"? "Si" : "No" %></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#ofertasModal">
                                                    </td>
                                                    <div class="modal fade" id="ofertasModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Editar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/sale?_method=PUT">
                                                                        <div class="form-group">
                                                                            <div class="custom-control custom-switch">
                                                                                <input type="checkbox" class="custom-control-input" id="sale" name="sale" <%= producto.sale == "on"? "checked" : null %>>
                                                                                <label for="sale" class="custom-control-label">OFERTAS</label>
                                                                            </div>
                                                                        </div>
                                                                        <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                        <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tr>
                                                
                                                <!--Imagen SM-->
                                                <tr>
                                                    <th scope="row">IMAGEN CHICA</th>
                                                    <td><a href="/admin/productos/imagenes/<%= producto.imageSm %>">Ver Imagen</a></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#img_smModal">
                                                    </td>
                                                </tr>
                                                <div class="modal fade" id="img_smModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Editar Producto</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div>
                                                                    <ul id="errores-img-sm"></ul>
                                                                </div>
                                                                <form id="form-img-sm" method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/imageSm?_method=PUT" enctype="multipart/form-data">
                                                                    <div class="form-group">
                                                                        <label for="imageSm">IMAGEN CHICA</label>
                                                                        <input type="file" class="form-control-file" name="imageSm">
                                                                    </div>
                                                                    <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                    <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <!--Imagen LG-->
                                                <tr>
                                                    <th scope="row">IMAGEN GRANDE</th>
                                                    <td><a href="/admin/productos/imagenes/<%= producto.imageLg %>">Ver Imagen</a></td>
                                                    <td><ion-icon style="color:#8a0804" name="pencil-outline" data-toggle="modal" data-target="#img_lgModal">
                                                    </td>
                                                </tr>
                                                <div class="modal fade" id="img_lgModal" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Editar Producto</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div>
                                                                    <ul id="errores-img-lg"></ul>
                                                                </div>
                                                                <form id="form-img-lg" method="POST" action="/admin/productos/detalle/<%= producto.id %>/editar/imageLg?_method=PUT" enctype="multipart/form-data">
                                                                    <div class="form-group">
                                                                        <label for="imageLg">IMAGEN GRANDE</label>
                                                                        <input type="file" class="form-control-file" name="imageLg">
                                                                    </div>
                                                                    <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                                                    <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            CALIFICACIONES >>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="review">
                                            <h4> Puntaje Promedio: <span class="Stars" style="--rating: 3.5;" aria-label="Rating of this product is 3.5 out of 5.">3.5 de 5</span></h4>
                                            <article>
                                                <div>
                                                    <h6><b> Eze </b><span class="Stars" style="--rating: 3.0;" aria-label="Rating of this product is 3.0 out of 5."></span></h6>
                                                    <p>28/06/2020</p>
                                                </div>
                                                <p>Muy rico vino!</p>
                                            </article>
                                            <article>
                                                <div>
                                                    <h6><b> Lea </b><span class="Stars" style="--rating: 4.0;" aria-label="Rating of this product is 4.0 out of 5."></span></h6>
                                                    <p>09/07/2020</p>
                                                </div>
                                                <p>Excelente vino para tomar en una ocasión especial</p>
                                            </article>
                                            <article>
                                                <div>
                                                    <h6><b> mmmmmm </b><span class="Stars" style="--rating: 3.0;" aria-label="Rating of this product is 3.0 out of 5."></span></h6>
                                                    <p>10/07/2020</p>
                                                </div>
                                                <p>Lo probé anoche y me gustó. Con un final un poco picante para mi.</p>
                                            </article>
                                            <article>
                                                <div>
                                                    <h6><b> Pepe </b><span class="Stars" style="--rating: 4.0;" aria-label="Rating of this product is 4.0 out of 5."></span></h6>
                                                    <p>31/08/2020</p>
                                                </div>
                                                <p>Me encantó. No le pongo cinco estrellas por el precio.</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </main>
            
            <!--Fin Detalle de Producto-->
            
            <%- include('../partials/footer.ejs') %>
            <script src="/js/productEditor.js"></script>
        </body>
        </html>