<!doctype html>
<html lang="es">
<head>
  <%- include('../partials/head.ejs')%>    
  <link rel="stylesheet" href="/css/admin.css">
</head>  
<body>
  <%- include('../partials/header.ejs')%>
    <main class="container-fluid"> 
      <!--Administrador de productos-->
      <section class="row mt-5">
        <article class="col-12">
          <h2 class="display-4 text-center pt-4">Administrador de Productos</h2>
        </article>
        <article class="col-12">
          <a href="/admin/productos/agregar1" id="agregar" class="btn btn-primary mt-2">Agregar Nuevo Producto</a>
        </article>
        <article class="col-12">
        <table class="table my-5">
            <thead>
              <tr class="text-center">
                <th scope="col">Id</th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Ver Detalle</th>
              </tr>
            </thead>
            <tbody>
              <% productos.forEach(p => { %> 
              <tr class="text-center">
                <td><%= p.id %></td>
                <td><%= p.name %></td>
                <td><a href="/admin/productos/detalle/<%=p.id%>"> <ion-icon name="eye-outline"></ion-icon></a></td>
              </tr>
              <% }) %>   
            </tbody>
          </table> 
        </article>       
      </section>
    </main>
    <%-include('../partials/footer.ejs')%>
  </body>
</html>


