<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detalle_producto.css">
    <link rel="stylesheet" href="/css/detalle_usuario.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    
    
    
    <main class="container-fluid" id="principal">
        <div class="row">
            <div class="col-12 col-md-4">
                <figure>
                    <img id="avatar" src="/images/usuarios/<%= user.avatar %>" alt="Avatar">
                </figure>
                <h4 id="alias"><%= user.alias %> </h4>
                <h4 id="alias">
                    <%switch (user.role) {
                        case 0:
                        %>
                        Cliente
                        <%    break;
                        case 1:
                        %>
                        Vendedor
                        <%    break;
                        case 9:
                        %>
                        Administrador
                        <%    break;
                    }%>
                </h4> 
                <ul class="opciones">
                    <li><a href="#" data-toggle="modal" data-target="#roleModal">Modificar Permisos</a></li>  
                </ul>
                
                <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/admin/usuarios/<%= user.id %>/editar?_method=PUT">
                                    <div class="form-group">
                                        <label for="role">PERMISOS</label>
                                        <select class="form-control" name="role" id="" required>                             
                                            <option value="0" <%= user.role == 0 ? "selected" : null %>>Cliente</option>
                                            <option value="1" <%= user.role == 1 ? "selected" : null %>>Vendedor</option>
                                            <option value="9" <%= user.role == 9 ? "selected" : null %>>Administrador</option>                                                                                
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-primary" id="verMas" data-dismiss="modal">CERRAR</button>
                                    <button type="submit" class="btn btn-primary" id="comprar">GUARDAR CAMBIOS</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 info">
                <h1>Perfil de Usuario</h1>
                <h4>Nombre: <%= user.name %></h4>
                <h4>Apellido: <%= user.lastName %></h4>
                <h4>Correo: <%= user.email %></h4>
                
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    HISTÓRICO DE COMPRAS >>
                                </button>
                            </h2>
                        </div>
                        
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    HISTÓRICO DE RESEÑAS >>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <a href="/admin/usuarios"><< Volver</a>    
    </main>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>