<!doctype html>
<html lang="es">
<head>
  <%- include('../partials/head.ejs')%>    
  <%- include('../partials/header.ejs')%>
  <link rel="stylesheet" href="/css/admin.css">
</head>  
<body>
    <main class="container-fluid"> 
      <!--Administrador de productos-->
      <section class="row mt-5">
        <article class="col-12">
          <h2 class="display-4 text-center pt-5">Administrador de Productos</h2>
        </article>
        <article class="col-12">
          <a href="/admin/productos/agregar1"><button type="button" class="btn btn-primary">Agregar Nuevo Producto</button></a>
        </article>
        <article class="col-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ver</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody>
              <% productos.forEach(p => { %> 
              <tr>
                <td><%= p.id %></td>
                <td><%= p.nombre %></td>
                <td ><a href="/admin/detail/<%=p.id%>"> <ion-icon name="eye-outline"></ion-icon></a></td>
                <td ><a href="/admin/edit/<%=p.id%>"> <ion-icon name="pencil-outline"></ion-icon></a></td>
                <td ><a href="/admin/delete/<%=p.id%>"><ion-icon name="trash-outline"></ion-icon></a></td>
              </tr>
              <% }) %>   
            </tbody>
          </table> 
        </article>       
      </section>
    </main>
    <%-include('../partials/footer.ejs')%>
  </body>
</html>


