<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/agregarProducto.css">
    </head>
<body>
       
    <%- include('../partials/header.ejs') %>
        
    
    <!--Formulario Carga Producto Parte 2-->
    
    <main class="container">
        <h2 class="titulo">Nuevo Producto<span class="badge badge-primary">Paso 2 de 3</span> </h2>
        <form method="POST" action="/admin/productos/agregar2">
            <div class="form-group">
                <label for="productor">PRODUCTOR</label>
                <select class="form-control" name="productor" id="" required>
                    <% productor.forEach(p=>{ %> 
                    <option value=<%=p.id%> ><%=p.name%></option>
               <%})%>    
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="varietal">VARIETAL</label>
                    <select class="form-control" name="varietal" id="" required>
                        <% varietal.forEach(v=>{ %> 
                        <option value=<%=v.id%> ><%=v.name%></option>
                   <%})%>    
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="cosecha">COSECHA</label>
                    <input type="number" class="form-control" name="cosecha" placeholder="YYYY">
                </div>
            </div>
            <div class="form-group">
                <label for="corte">CORTE</label>
                <input type="text" class="form-control" name="corte">
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="procedencia">PROCEDENCIA</label>
                    <input type="text" class="form-control" name="procedencia">
                </div>
                <div class="form-group col-md-4">
                    <label for="alcohol">ALCOHOL</label>
                    <div class="input-group-append">
                        <input type="number" class="form-control" name="alcohol" placeholder="00.0" step="0.1">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>
            <div class="btn-siguiente">
                <button type="submit" class="btn btn-primary" id="siguiente">SIGUIENTE >></button>
            </div>            
        </form>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/ionicons@5.1.0/dist/ionicons.js"></script>
    <script src="/js/master.js"></script>
</body>
</html>