<!DOCTYPE html>
<html lang="es">

  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/carrito.css">
    </head>

<body>

    <%- include('../partials/header.ejs') %>
    <!--Carrito-->
    <main class="container-fluid" id="cartProduct">
      <% if (cartProducts.length == 0 ) { %>
        <h2 class="text-center font-weight-bolder my-4">Su carrito está vacío.</h2>
        <div class="mb-5"></div>
      <% } else { %>  
      <% cartProducts.forEach(item => { %> 
        <div class=" d-md-inline-flex col-12 rounded my-2" id="carrito">
        <div class="flex-column text-center my-4">
            <h6 class="font-weight-bolder" id="titulo">PRODUCTO</h6>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/images/productos/<%= item.imagen %>" class="card-img" alt="Imagen Producto">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= item.nombre %></h5>
                      <h6 class="card-title"><%= item.productor %></h6>
                      <h5 class="card-title" id="itemPrecio">$<%= item.precio %></h5>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="flex-column text-center my-4">
          <h6 class="font-weight-bolder" id="titulo">CANTIDAD</h6>
          <div id="columna">
            <form action="/cart/minusItem" method="POST">
              <input type="hidden" name="productId" value="<%= item.id %>">
              <button type="submit" class="btn btn-secondary" id="sumar-restar-item">-</button>
            </form>
            <span><%= item.cantidad %></span>
            <form action="/cart/plusItem" method="POST">
              <input type="hidden" name="productId" value="<%= item.id %>">
              <button type="submit" class="btn btn-secondary" id="sumar-restar-item">+</button>
            </form>
          </div>
        </div>
        <div class="flex-column text-center my-4">
            <h6 class="font-weight-bolder" id="titulo">SUBTOTAL</h6>
            <div id="columna">
              <h5 class="card-title">$<%= item.subtotal %></h5>
            </div>
          </div>
          <div class="align-self-center">
          <form action="/cart/deleteProduct" method="POST">
            <input type="hidden" name="productId" value="<%= item.id %>">
          <button type="submit" class="close" aria-label="Close" id="botonEliminar">
            <span aria-hidden="true">&times;</span>
          </button>
          </form>
        </div>
        </div>
      <% }); %> 
        <div class="table-responsive">
        <table class="table w-50 m-auto">
            <tbody>
              <tr>
                <th scope="row" class="font-weight-bolder" id="total">TOTAL</th>
                <td></td>
                <td id="totalCompra">$<%= total %> </td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="d-inline-flex justify-content-center w-100 my-2">
            <form action="/cart/empty" method="POST">
              <button type="submit" class="btn btn-primary btn-lg text-dark" id="empty-cart"><ion-icon name="trash-outline"></ion-icon>  VACIAR CARRITO</button>
            </form>
            <button type="button" class="btn btn-primary btn-lg" id="verMas"><a href="/" class="text-decoration-none  text-dark"> SEGUIR COMPRANDO</a></button>
            <button type="submit" class="btn btn-primary btn-lg" id="confirmar">FINALIZAR COMPRA</button>
            </div>
    
  <% } %> 
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>